{{#if committee.subcommittees.length}} <!-- Returns false for 0 -->
  <li class="committeesHover" {{action "subcommitteesShow"}}>{{committee.name}}</li>
{{else}}
  <li>{{committee.name}}</li>
{{/if}}
{{#if subcommitteesShow}}
  <ul>
     {{#each committee.subcommittees as |subcommittee|}}
     <li>{{subcommittee.name}}</li>
     {{/each}}
   </ul>
{{/if}}
